# Ignore temporary, sensitive, and environment-specific files
.env
__pycache__/
.vscode/
.pytest_cache/
.ruff_cache/
.myoy_cache/
# Virtual Environments
/myenv/
/venv/
.venv/
.venv2/
.venv311/
# Temporary installation files
get-pip.py
pip-*.tar.gz
pip-*/
